<div id="menu-drawer" class="menu-drawer">
  <div class="menu-drawer__inner-container">
    <!-- Remove this entire block -->
    {% comment %}
    <div class="menu-drawer__navigation-container">
      <nav class="menu-drawer__navigation">
        <ul class="menu-drawer__menu">
          <li class="menu-drawer__account">
            <a href="{{ routes.account_login_url }}">
              {% render 'icon-account' %}
              <span>{{ 'customer.account.iniciar sessão' | t }}</span>
            </a>
          </li>
          <!-- Other menu items -->
        </ul>
      </nav>
    </div>
    {% endcomment %}
    
    <!-- Keep only the main menu part -->
    <div class="menu-drawer__main-menu-container">
      <!-- ...existing code... -->
    </div>
  </div>
</div>