<div id="wishlist-login-modal">
  <div class="modal-content">
    <p>Please log in to save items to your wishlist.</p>
    <a href="/account/login" class="button">Login</a>
    <button type="button" data-wishlist-modal-close aria-label="Close">&times;</button>
  </div>
</div>
