<span class="header__icon-mobile">
  <span class="svg-wrapper">{{ 'bag.svg' | inline_asset_content }}</span>
  {%- if cart != empty -%}
    <div class="cart-count-bubble-mobile">
      <span aria-hidden="true">{{ cart.item_count }}</span>
    </div>
  {%- endif -%}
</span>
<span class="header__icon-desktop">
  Cesto{% if cart.item_count > 0 %} ({{ cart.item_count }}){% endif %}
</span>
<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
