{% schema %}
{
  "name": "FOOTERS",
  "settings": [],
  "presets": [
    {
      "name": "FOOTERS"
    }
  ]
}
{% endschema %}

<style>

@media (max-width: 750px) {
  .footer-desktop {
    display: none;
    }
  }

  @media (min-width: 751px) {
  .footer-mobile {
    display: none;
    }
  }
  
</style>


{% unless request.page_type == 'index' %}
  <div class="footer-desktop">
    {% render 'footer-drawer-desktop' %}
  </div>

  {% if request.page_type != 'product' %}
    <div class="footer-mobile">
      {% render 'footer-drawer' %}
    </div>
  {% endif %}
{% endunless %}
