/* swatch lives in its own file for reusability of the swatch in swatch-input and dropdown */

.swatch {
  --swatch--size: var(--swatch-input--size, 1.5rem);
  display: block;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  background: var(--swatch--background);
  background-position: var(--swatch-focal-point, initial);
  background-size: cover;
  background-origin: border-box;
  border: none;
  border-radius: 0;
}

.swatch--square {
  --swatch--border-radius: var(--swatch-input--border-radius, 0.2rem);
}

.swatch--unavailable { border: none; }

div.mobile-facet__swatch > label.swatch-input__label > span.swatch {
  width: 15px !important;
  height: 15px !important;
}
