.price-and-swatch {
  position:relative;

  display: flex;
  flex-direction: column; /* Default for mobile */
  align-items: flex-start;
  gap: 5px;
}

.product-card__swatch-indicator {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin-bottom: 5px; /* Ensure space between swatches and price */
  margin-left: 1px;
  margin-top: -4px;
}

@media (min-width: 768px) {
  .price-and-swatch {
    flex-direction: column; /* Desktop layout: swatches and price side-by-side */
    align-items: flex-start;
  }

  .product-card__swatch-indicator {
    margin-right: 10px;
  }
}

/* Swatch Styles */
.swatch {
  width: 23px;
  height: 23px;
  box-shadow: 0 0 0 1px #ddd;
  border: 2px solid white;
  display: inline-block;
  background: var(--swatch--background);
  border-radius: 100%;
  margin-right: 5px;
}

.swatch--square {
  border-radius: 0;
}

.additional-swatch-count {
  font-size: 0.7em;
  margin-left: 1px;
  margin-top: 3px;
}

.swatch {
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.swatch:hover,
.swatch.selected {
  box-shadow: 0 0 0 2px var(--color-highlight);
  outline: none;
}

/*SLIDER *\

/* Ensure the swiper container fills its parent */
.swiper-container {
  width: 100%;
  height: 100%;
}

/* Style the swiper slides */
.swiper-slide {

  justify-content: center;
  align-items: center;
}

/* Make images responsive */
.swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
}

#product-grid > li > div > div > div.card__content > div > div > div > div.product-card__swatch-indicator > span {
  width:23px!important;
  height: 23px!important;
  margin-right: 5px!important;
  border-radius: 20px;  
}

@media screen and (min-width: 750px) and (max-width: 850px) {
  #product-grid > li > div > div > div.card__content > div > div > div > div.product-card__swatch-indicator > span {
    width:13px!important;
    height: 13px!important;
    margin-right: 5px!important;
    border-radius: 20px;
}

@media screen and (min-width: 851px) and (max-width: 1000px) {
  #product-grid > li > div > div > div.card__content > div > div > div > div.product-card__swatch-indicator > span {
    width:19px!important;
    height: 19px!important;
    margin-right: 5px!important;
    border-radius: 20px;
}

#FacetsWrapperMobile > div.mobile-facet.mobile-facet-filter\.v\.t\.shopify\.color-pattern > ul > li > div > label.swatch-input__label > span {
  width:25px!important;
  height: 25px!important;
}

#product-grid > li > div > div > div.card__content > div > div > div > div.product-card__swatch-indicator > span.swatch.active {
  border: 2px solid white;
  box-shadow: 0 0 0 1px #000;
  
}