{% comment %}Wishlist template{% endcomment %}
{% if customer == nil %}
  <p style="text-align:center;padding:2rem;font-size:1.2em;">Inicie sessão para guardar produtos nos favoritos.</p>
{% endif %}

{% section 'wishlist-page' %}
